{% extends 'base.html' %}

{% block tittle %} Seja bem vindo - Página principal {% endblock %}

{% block main %}

	<h1 class="text">Ola mundo!</h1>
	<ul>
		<li>Teste template</li>
	</ul>


{% if sexo == 'm' %}
	Ola senhor {{ nome }}
{% elif sexo == 'f' %}
	Ola senhora {{ nome }}
{% else %}
	Ola {{ nome }}
{% endif %}

<br/>
<br/>
<ul>
{% for pessoa in lista %}

	{% if pessoa.sexo == 'm' %}
		<li class="text-primary">Ola senhor {{ pessoa.nome }}</li>
	{% elif pessoa.sexo == 'f' %}
		<li class="text-danger">Ola senhora {{ pessoa.nome }}</li>
	{% else %}
		<li class="text-warning">Ola {{ pessoa.nome }}</li>
	{% endif %}

{% endfor %}
</ul>

	{% include 'footer.html' with pnome=nome%}

{% endblock %}
